@model List<MyPortfolioAspNetMvc5.Models.Entity.Abouts>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
@Html.Partial("~/Views/UILayout/UIHeaderPartial.cshtml")
<body id="page-top">
    @Html.Action("UINavbarPartial", "UILayout")

    <div class="container-fluid p-0">
        @RenderBody()
    </div>
    @Html.Partial("~/Views/UILayout/UIScriptsPartial.cshtml")
</body>
</html>

