
@using MyPortfolioAspNetMvc5.Models.Entity
@model Certifications
@{
    ViewBag.Title = "AddCertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sertifikalarım Alanı</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <br />
                            <h3 class="card-title">Yeni Sertifika Ekleme Sayfası</h3><br /><br />
                        </div>

                        <div class="card-body">
                            <form method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        @Html.Label("Açıklama")
                                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-outline-primary"><i class="fa fa-pen"></i>&nbsp; Ekle</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>











