@{
    ViewBag.Title = "Proje Detay Sayfası";
    Layout = "~/Views/UILayout/Index.cshtml";
}

@Html.Partial("~/Views/ProjectDetails/UIProjectDetailHeadPartial.cshtml")

<div class="wrapper">
    @Html.Action("UIProjecDetailPartial")

</div>



<script src="~/Templates/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
<script src="~/Templates/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Templates/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
<script src="~/Templates/AdminLTE-3.0.4/dist/js/demo.js"></script>