
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Hakkımda Menüsü</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>ID</th>
    </tr>
    <tr>
        <td>01</td>
        <td>test</td>
    </tr>
</table>