<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Hakkımda</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        
            <strong><i class="fas fa-book mr-1"></i> Eğitim</strong>

            <p class="text-muted">
               Yönetim Bilşim Sistemleri
            </p>

            <hr>

            <strong><i class="fas fa-map-marker-alt mr-1"></i> Konum</strong>

            <p class="text-muted">Kocaeli Gölcük</p>

            <hr>

            <strong><i class="fas fa-pencil-alt mr-1"></i> Yetenekler</strong>

            <p class="text-muted">
                <span class="tag tag-danger">AspNet Core</span>
                <span class="tag tag-success">Coding</span>
                <span class="tag tag-info">Javascript</span>
                <span class="tag tag-warning">MSSQL</span>
                <span class="tag tag-warning">C#</span>
            </p>

            <hr>

            <strong><i class="far fa-file-alt mr-1"></i> Not:</strong>

            <p class="text-muted">Yeni mezun jr adayıyım .net alanında kendimi geliştirmeye başladım. bu yolda ilerlemeye devam edeceğim.</p>
        

    </div>

</div>
