@using MyPortfolioAspNetMvc5.Models.Entity
@model List<Interests>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}



<div class="wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Hobilerim Alanı</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Hobi Listesi</h3><br /><br />
                            <a href="/Interests/Addinterests/" class="btn btn-outline-primary"><i class="fa fa-pencil-alt"></i>&nbsp; Yeni Hobi Ekle</a>
                            <br />
                            <br />
                        </div>

                        <div class="card-body">
                            <table class="table table-responsive-md table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>1.Açıklama </th>
                                        <th>2.Açıklama</th>
                                        <th class="text-center" colspan="2">İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th>@count</th>
                                            <td>@(item.Description.Length>=50?item.Description.Substring(0,50)+"...":item.Description)</td>
                                            <td>@(item.Description2.Length>=50?item.Description2.Substring(0,50)+"...":item.Description2)</td>
                                            <td><a href="/Interests/DeleteInterests/@item.InterestsID" class="btn btn-outline-danger"><i class="fa fa-trash"></i>&nbsp; Sil</a></td>
                                            <td><a href="/Interests/UpdateInterests/@item.InterestsID" class="btn btn-outline-success"><i class="fa fa-edit"></i>&nbsp; Güncelle</a></td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@Html.Partial("~/Views/LayoutPartial/NotificationPartial.cshtml")




